* {
  margin: 0;
  padding: 0;
}

/* Basic styles, change according to your style */

#start-page,
#lose-page {
  height: 600px;
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  border: 1px solid black;
  margin-top: 30px;
  background-image: url('/img/bgStart.png');
}
h1{
  display: flex;
  justify-content:
}

#lose-page {
  display: none;
}

canvas {
  border: 1px solid black;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
  background-image: url('/img/background.png');

}

cursor {
 
  background-image: url('img/mirilla.png');
}

/* Auxiliar classes */

.hidden {
  display: none;
}

.shown {
  display: flex;
}