* {
  margin: 0;
  padding: 0;
}
body{
  background-color: #1f758e;
}

/* Basic styles, change according to your style */

#start-page,
#lose-page {
  height: 600px;
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items:flex-start;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;  
  margin-top: 50px;
  background-image: url('/img/BGgame.png');
}
#lose-page {
  display: none;
  background-image: url('/img/lose-page.png');
}

#win-page{
  height: 600px;
  width: 1000px;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  background-image: url('/img/page-win.png');
}
#win-page{
  display: none;
  color: red;
}

button {
  margin-top: 200px;
  margin-left: 150px;
  background: #e06450;
  cursor: pointer;
  border: none;
  padding: 16px 32px;
  color: #f6ebc9;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  border-radius: 20px;
}

canvas {

  display: block;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
  background-image: url('/img/backgroundgame.png');

}
cursor { 
  background-image: url('img/mirilla.png');
}

/* Auxiliar classes */

.hidden {
  display: none;
}

.shown {
  display: flex;
}